apiVersion: v1
kind: Namespace
metadata:
  name: kube-gateway
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kube-watcher
  namespace: kube-gateway
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  name: system:watcher-role
rules:
  - apiGroups: [""] # "" indicates the core API group
    resources: ["pods"]
    verbs: ["get", "watch", "list", "patch", "update"]
  - apiGroups: [""] # "" indicates the core API group
    resources: ["pods/ephemeralcontainers"]
    verbs: ["patch", "update"]
  - apiGroups: [""] # "" indicates the core API group
    resources: ["secrets"]
    verbs: ["create", "list", "delete", "get"]
  - apiGroups: [""] # "" indicates the core API group
    resources: ["serviceaccounts", "serviceaccounts/token"]
    verbs: ["create", "get", "delete"]
  - apiGroups: [""] # "" indicates the core API group
    resources: ["configmaps"]
    verbs: ["get", "watch", "list"]
  - apiGroups: ["rbac.authorization.k8s.io"]
    resources: ["clusterrolebindings"]
    verbs: ["create"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: system:watcher-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:watcher-role
subjects:
  - kind: ServiceAccount
    name: kube-watcher
    namespace: kube-gateway
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kube-gateway
  namespace: kube-gateway
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  name: system:kube-gateway-role
rules:
  - apiGroups: [""] # "" indicates the core API group
    resources: ["configmaps"]
    verbs: ["get", "watch", "list"]
#---
#apiVersion: rbac.authorization.k8s.io/v1
##kind: ClusterRoleBinding
#metadata:
#  name: system:kube-gateway-binding
#roleRef:
#  apiGroup: rbac.authorization.k8s.io
#  kind: ClusterRole
#  name: system:kube-gateway-role
#subjects:
#  - kind: ServiceAccount
#    name: kube-gateway
#    namespace: default
---
apiVersion: v1
kind: Pod
metadata:
  name: kube-cert-watcher
  namespace: kube-gateway
spec:
  serviceAccountName: kube-watcher
  containers:
    - name: kube-cert-watcher
      image: thebsdbox/watcher:v1
      imagePullPolicy: IfNotPresent
      command:
        [
          "/kube-cert-watcher",
          "-watch",
          "-forcePull",
          "-podcidr",
          "10.244.0.0/16",
        ]
      resources:
        requests:
          memory: "64Mi"
          cpu: "250m"
        limits:
          memory: "128Mi"
          cpu: "500m"
      volumeMounts:
        # name must match the volume name below
        - name: secret-volume
          mountPath: /certs
          readOnly: true
      # The secret data is exposed to Containers in the Pod through a Volume.
      env:
        - name: SMESH-CA-CERT
          valueFrom:
            secretKeyRef:
              name: watcher
              key: ca-cert
        - name: SMESH-CA-KEY
          valueFrom:
            secretKeyRef:
              name: watcher
              key: ca-key
  volumes:
    - name: secret-volume
      secret:
        secretName: watcher
